<h1>Editing user</h1>

<%= form_for @user do |f| %>
    <div class="field">
        <%= f.label :CompanyName %><br />
        <%= f.text_field :CompanyName %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<br/>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
